* {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Set a background color */

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

html, body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: auto;
}

body {

  max-width: 960px;
  background-color: #ffffff;
  overflow-y: visible;

}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h2 {
  font-size: 45px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: black;
  letter-spacing: -.01em;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  width: 100%;

}

li {
  padding: 3px;
}

.aikajana-main-section-app {
    width: 100%;
    padding-bottom: 0px;
    background-color: rgba(237, 161, 164, 0.2);
    padding-top: 40px;

}

.aikajana-main-div {
padding-top: 10px;
padding-bottom: 10px;
width: 100%;
background-color: rgba(224, 88, 92);
transition: 0.8s;
}

.aikajana-lista-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.vuosi {
  width: 100%;
  font-size: 35px;
  padding: 1px;
  font-weight: bold;
  color: #ffffff;
}

.vuosi:hover {
  color: black;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;

}

.vuosi li {
  margin-left: 23px;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(237, 161, 164, 0.65);
  padding-left: 10px;

  font-weight: lighter;
  font-size: 18px;
  color: black;

  text-shadow: none;
}

.vuosi li:hover {
  color: white;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;

}

.artikkeliwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 960px;
  margin: 0;
}

.artikkeliNäkymä, p {
  display: flex;
  font-size: 14px;
  max-width: 750px;
  justify-content: center;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;

}

.kommentti {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.kommenttikentta {
  font-family: Arial, Helvetica, sans-serif;
  color: #797b85 ;
  width: 500px;
  height: 60px;
  margin-top: 20px;

  border: none;
  border-bottom: 2px solid red;
  resize: none;
}

.kommentitwrap {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  padding-top: 15px;
  background-color: rgba(237, 161, 164, 0.2);
  width: 100%;

  min-height: 370px;
}

.kommentit {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: left;

  padding-top: 5px;
  padding-bottom: 20px;
  max-width: 700px;


}

.kommentit #listaalku {
  width: 500px;
  /*border-top: 2px solid red; */
  padding-bottom: 15px;
  font-size: 14px;
}

.kommentit li {
  border-bottom: 1px solid #797b85;
  padding: 16px;
  font-size: 16px;
}

.napit {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  border: 4px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 200px;
  font-weight: bold;
  margin-top: 20px;
}

.napit:hover {
  background-color: rgba(224, 88, 92);
  color: white;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
